.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    align-items: center;
    height: 300px;
  
    border: 1px solid green; 
  }
  .Input{
    border: 1px solid rgb(66, 66, 66); 
    border-radius: 2px;
    margin: 15px;
    padding: 15px; 
    width: 1000px;
  }
  button{
    background-color: rgb(243, 34, 76);
    color:whitesmoke;
    border-radius: 2px;
    border-width:1px;
    border: crimson;
    width: 100%;
    
    margin: 15px;
    padding: 15px; 
  }
  
  
  
  button:focus{
    border-width:1px;
    border:  rgb(243, 34, 76);
    background-color: darkblue;
  }